*{
    margin: 0;
    padding: 0;
    font-family: 'poppins';
    color: grey;
}

h3{
    font-weight: 600;
    color: black;
}


body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(167, 80, 248);
}

.container{
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 3rem;
    border: 1px solid black;
}

.question{
    border-bottom: 1px solid grey;
    padding: 0.8rem 0rem;
    display: flex;
    gap: 2rem;
    justify-content: space-between;
    cursor: pointer;
}

.question:last-child{
    border: none;
}
